* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@keyframes cdRotaiton {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Encode Sans", sans-serif;

  background: #f2f3ff;
}

:root {

  --seloffset: 0;

  --selSize: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Geologica", sans-serif;
}

.icone-importante {
  color: #ff3845;

  font-size: 30px;
}

/* CABEÇALHO */

.cabecalho .navbar {
  position: relative;

  z-index: 1;

  background: #1f1510;
}

.cabecalho .logo {
  width: 50px;
}

.hamburger-barras span {
  min-height: 4.5px;
  width: 40px;

  background: #ff3845;

  align-items: center;
}

.pesquisa-form {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 40px;

  transform: translateY(0);
  transform-origin: center;

  transition: transform 0.3s ease-in-out;
}

.pesquisa-form.clicked {
  transform: translateY(190%);
}

#pesquisa-texto {
  width: 100%;

  padding: 0 15px;

  box-shadow: 0 2px 5px #a2a3a8;
}

#pesquisa-texto:focus {
  outline: none;
}

#pesquisa-close {
  width: 70px;
  height: 100%;

  background: #fff;
}

/* MENU */

.menu-geral {
  position: fixed;
  top: 0;

  background: #ff3845;
  width: 100%;
  height: 100vh;

  z-index: 99;

  padding: 0 25px;

  left: 100%;

  transition: left 0.3s ease-out;
}

.menu-geral.menu-clicked {
  left: 0%;
}

.menu-close {
  text-align: end;

  font-size: 20px;
}

.pyre-logo {
  width: 250px;

  display: block;

  margin: 0 auto;
}

.login,
.links a {


  color: #1f1510;
}

.login i {
  margin-right: 25px;
}

.login {
  font-size: 25px;

  font-weight: 600;

  text-align: center;
}

.barra {
  height: 3px;
  width: 100%;

  display: block;

  background: #1f1510;

  border-radius: 5px;
}

.links {
  text-align: left;
}

.links ul {
  margin: 0 auto;
  padding: 15px 0;

  list-style: none;

  width: 110px;

  justify-content: space-evenly;
}

.links li {
  margin: 0 auto;

  font-size: 20px;
}

.links i {
  margin-right: 10px;
}

.sociais {
  justify-content: center;

  gap: 10px;

  margin-top: 15px;
}

.sociais i {
  font-size: 25px;

  color: #000;
}

/* PESQUISA (DESKTOP) */
.botao-pesquisar button {
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  appearance: none;

  background: #fff;
  height: 40px;
}

.botao-pesquisar .icone-importante {
  font-size: 25px;
}

.desktop-pesquisa-form input {
  border: none;
  font: inherit;

  background: #fff;
  height: 40px;
}

.desktop-pesquisa-form input:focus {
  border: none;
  outline: none;
}

/* BANNER */

.banner-img {
  width: 100%;

  position: relative;
}

.banner-jogo::after {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  height: 150px;

  background: #1f1510;

  z-index: 1;

  top: 83%;
  left: 0;
}

.carousel-caption {
  z-index: 2;

  top: 82%;

  display: none;
}

.carousel-caption h3 {
  color: #ff3845;

  text-transform: uppercase;

  font-size: 48px;

  font-weight: 600;
}

.desconto {
  display: none;

  position: relative;
  color: #f2f3ff;
  z-index: 3;

  right: 0;

  background: #ff3845;

  height: 25px;
  width: 200px;

  text-align: center;
}

.desconto p {
  font-family: "Geologica", sans-serif;
}

/* DESTAQUES */

.preview {
  position: relative;
  padding: 3px 0;

  overflow: hidden;
}

.card-preview {
  --offset: 0;

  position: relative;
  left: 0;
  top: 0;

  background: linear-gradient(
    0deg,
    rgba(31, 21, 16, 1) 71%,
    rgba(255, 255, 255, 0) 72%
  );

  transition:
    left 0.5s ease-in-out,
    top 0.3s ease-in,
    opacity 0.3s ease-in;

  z-index: 4;

  width: 250px;

  pointer-events: none;
}

.card-preview h3 {
  height: 70px;

  color: #ff3845;
}

.card-preview p {
  color: #f2f3ff;
}

.cd-img {
  
  --rotation: 0deg;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;

  border-radius: 100%;

  transform: rotate(var(--rotation));

  object-fit: cover;

  z-index: 3;

  transition: --tmp 5s ease;
}
.cd-container {
  position: relative;

  --progressoBarra: 0;
}

.cd-container::after {
  content: "";
  position: absolute;
  width: var(--selSize);
  height: var(--selSize);

  border-radius: 100%;

  left: var(--seloffset);
  top: var(--seloffset);

  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: conic-gradient(
    from 0deg at 50% 50%,
    #ff3845 var(--progressoBarra),
    #1f1510 var(--progressoBarra)
  );

  z-index: 2;
}

.card-preview.hovered {
  left: var(--offset);

  pointer-events: none;
}

.card-preview.not-hovered {
  top: 20px;

  opacity: 0;

  pointer-events: none;
}

.preview-video {
  --videoSize: 0;
  --videoLeft: 0;

  max-width: 1024px;
  width: 55%;

  height: var(--videoSize);

  position: absolute;

  opacity: 0;

  left: var(--videoLeft);
  top: 70px;

  transition:
    top 0.4s ease-in,
    opacity 0.4s ease-in-out;

  z-index: 0;
}

.overlay {
  position: absolute;

  display: block;

  width: 100%;
  height: 500px;

  opacity: 0%;

  top: 0;
  left: 0;

  z-index: 1;
}

.overlay.video-show {
  display: none;
}

.preview-video.video-show {
  display: block;

  opacity: 1;

  top: 5px;
}

.detalhe p {
  margin: 0;

  height: 25px;

  align-content: center;

  background: #ff3845;

  font-weight: 600;
}

/* MAIS VENDIDOS */

.mais-vendido
{
  position: relative;
}

.sombra
{
  display: block;

  box-shadow: 0 0 25px 5px #1f1510;
}

.mais-vendido .produtos {
  background: #402e25;

  padding: 15px;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.produtos::-webkit-scrollbar
{
  width: 10px;
  height: 10px;

  background: none;
}

.produtos::-webkit-scrollbar-track
{
  background: none;
}

.produtos::-webkit-scrollbar-thumb
{
  background: #ff3845;
}

.produtos-style
{
  position: absolute;

  top: 60px;

  width: 89%;    
  height: 93%;
  z-index: 1;

  pointer-events: none;

  background: linear-gradient(0deg,rgba(31, 21, 16, 0.6) 0%, rgba(31, 21, 16, 0.4) 18%, rgba(31, 21, 16, 0) 50%, rgba(31, 21, 16, 0.4) 80%, rgba(31, 21, 16, 0.6) 100%);
}

.jogo-link {
  text-decoration: none;
}

.barra-titulo {
  background: #1f1510;

  color: #f2f3ff;

  height: 60px;
}

.barra-titulo h2
{
  font-size: 18px;

  width: 40%;
}

.jogo-card {
  position: relative;

  background: #1f1510;

  color: #f2f3ff;

  z-index: 99;

  box-shadow: 0 0 8px 1px #1f1510;

  scale: 1;

  transition: scale 0.5s ease-in-out;
}

.jogo-card:hover
{
  scale: 1.03;
}

.jogo-card-com
{

  font-size: 12px;

  color: #ff3845;
  opacity: 100%;
  font-weight: 600;

  position: absolute;

  top: 100%;
}

.jogo-detalhes {
  position:relative;
  min-width: 0;
}

.jogo-detalhes a
{
  font-size: 20px;
  font-weight: 600;

  color: #f2f3ff;

  text-transform: uppercase;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  width: 90%;
}

.link-card
{
  height: 100%;
  width: 100%;

  max-width: 300px;
}

.link-card img{
  width: 100%;

  max-height: 84px;

  object-fit: cover;
}

.tags
{
  display: none;

  height: 50%;
}

.tags i
{
  margin: 0 2px;
}

.tags li
{
  background: #f2f3ff;
}

.tags a
{
  display: flex;
  align-items: end;
}

.tags i
{
  line-height: 6px;
}

.tags-lista {
  list-style: none;

  padding: 0;
  margin: 0;

  gap: 4px;
}

.tags-lista a {
  text-decoration: none;

  display: block;

  font-size: 10px;

  color: #1f1510;

  text-align: center;

  width: 45px;
  height: 15px;

  padding: 0 2px;
}

.review-estrela
{
  position: absolute;
  right: -20px;
  bottom: -20px;
}

.review-estrela img
{
  width: 50px;
  aspect-ratio: 1/1;
}
.review-nota
{
  position: absolute;
  top: 50%;
  left: 50%;

  margin: 0;

  transform: translate(-50%, -50%);

  font-size: 15px;

  color: #1f1510;

  font-weight: 600;
}

/* OFERTAS */

.produtos-display-h .produtos
{
  overflow: visible;
  overflow-x: scroll;
  /* scroll-snap-type: x proximity; */

  position: relative;

  display: flex;

  gap: 30px;

  padding: 30px 5px;

  background: #402e25;
}

.produtos-display-h .jogo-card
{
  min-width: 260px;
  max-width: 200px;
  aspect-ratio: 1 / 1;

  /* scroll-snap-align: center; */
}

.produtos-display-h .link-card
{
  display: block;

  max-width: none;

  aspect-ratio: 1 / 1;

  height: auto;
}

.produtos-display-h .desconto
{
  position: absolute  ;
  display: block;

  width: 75px;
  height: 75px;

  right: 0;
  top: 0;

  background: linear-gradient(45deg,rgba(255, 255, 255, 0) 50%, rgba(255, 56, 69, 1) 50%);
}

.produtos-display-h .desconto p
{
  width: 40px;

  margin: 0;
}

.produtos-display-h .jogo-card-com
{
  font-size: 15px;
}

.produtos-display-h .link-card img
{
  width: 100%;
  height: 100%;

  max-height: none;
}

.produtos-display-h .jogo-detalhes a
{
  white-space: wrap;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 2;

  width: 200px;
  text-align: center;
}

/* RODAPE */

.rodape 
{
  background: #1F1510;

  margin-top: 45px;
}

.rodape .container
{
  padding-top: 25px;
}

.texto
{
  color: #EBE4FF;

  text-align: center;
}

.contato
{
  opacity: 50%;
}

.creditos-rodape
{
  color: #f2f3ff;
}

.creditos-rodape a
{
  color: #ff3845;
}

.rodape .logo
{
  display: flex;

  justify-content: center;
}

.rodape .logo img
{
  max-width: 250px;
}

.barra-separador
{
  display: block;

  margin: 0 auto;

  height: 2px;
  width: 90%;

  background: #f2f3ff;
}

/* RODAPE INFERIOR */

.container.inferior
{
  padding-top: 0;
  padding-bottom: 15px;
}

.inferior .links ul
{
  padding-top: 0;

  display: flex;
  flex-direction: column;

  opacity: 50%;

  width: 100%;

  margin: 0;

  align-items: center;
}

.inferior .links li a
{
  color: #f2f3ff;

  font-size: 15px;
}

.inferior .sociais ul
{
  list-style: none;

  display: flex;

  justify-content: center;

  padding: 0;

  margin: 0;

  gap: 10px;
}

.inferior .sociais i
{
  color: #ff3845;
}






@media (max-width: 767px)
{
  .rodape .logo
  {
    width: 100%;
  }
}




@media (min-width: 768px) {
  /* CABECALHO */

  #botao-pesquisa,
  .pesquisa-form {
    display: none;
  }

  /* MAIS VENDIDO */

  .jogo-card
  {
    display: flex;
    height: 84px;
  }

  .jogo-card-titulo
  {
    height: 30px;
    width: 100px;
  }

  .titulo-imagem
  {
    max-width: 300px;

    object-fit: cover;
  }

  .barra-titulo h2
  {
    font-size: 30px;
  }

  .tags
  {
    display: flex;

    align-items: end;
  }

  /* OFERTAS */
  .produtos-display-h .jogo-card
  {
    display: block;
    height: auto;
  }
  .produtos-display-h .jogo-detalhes
  {
    text-align: center;
  }

  /* RODAPÉ */

  .container.superior
  {
    padding-bottom: 10px;
  }

  .texto
  {
    margin: auto 0;

    text-align: left;
  }

  .rodape .logo
  {
    max-width: 100%;

    display: block;
  }

  .rodape .logo img
  {
    width: 60%;

    margin: 0 auto;

    display: block;
  }

  .container.inferior
  {
    padding-top: 10px;
  }

  .inferior .links
  {
    padding: 0;
  }

  .inferior .links ul
  {
    flex-direction: row;

    padding: 0;

    height: 100%;
  }

  .inferior .links li a
  {
    font-size: 12px;
  }

  .inferior .sociais
  {
    display: flex;

    padding: 0;

    margin: 0;

    align-items: center;
  }

}

@media (min-width: 1024px) {
  .menu-geral {
    width: 30%;
  }

  .menu-geral.menu-clicked {
    left: 70%;
  }

  /* BANNER */

  .banner-jogo::after {
    display: block;
  }

  .carousel-caption {
    display: block;
  }

  .desconto {
    display: block;
  }

  .card-preview {
    pointer-events: all;
  }

  /* MAIS VENDIDO */
  .jogo-card
  {
    background: linear-gradient(100deg,rgba(31, 21, 16, 1) 95%, rgba(255, 255, 255, 0) 95%);

    box-shadow: none;
  }

  .jogo-card::after
  {
    content: '';
    position: absolute;

    inset: 0;

    z-index: -1;

    background: linear-gradient(100deg,rgba(31, 21, 16, 1) 47%, rgba(255, 255, 255, 0) 100%);
    filter: blur(5px);

    transform: translate(0, 10px);
  }

  .review-estrela
  {
    bottom: 0;
    right: -1%;

    top: 50%;

    transform: translate(0, -50%);

    width: 125px;
    height: 125px;

  }

  .review-estrela img
  {
    width: 125px;
  }

  .review-nota
  {
    font-size: 30px;
  }

  /* DISPLAY DE PRODUTOS (HORIZONTAL) */
  .produtos-display-h .produtos
  {
    position: static;
  }

  .produtos-display-h .jogo-card
  {
    background: #1f1510;
  }

  .produtos-display-h .jogo-card
  {
    background: #1f1510;

    box-shadow: 0 0 8px 1px #1f1510;
  }

  .produtos-display-h .jogo-card::after
  {
    display: none;
  }

  /* RODAPÉ */
  .rodape .inferior .links li
  {
    
    display: flex;

    align-items: center;

    margin: 0;

    gap: 15px;
  }

  .rodape .links li::after
  {
    content: '';

    display: block;

    width: 2px;
    height: 30px;

    background: #f2f3ff;
  }
}
